<div class="schedule_posts">
  <div class="schedule_posts__text">
    <h1 class="schedule_posts__text_title">
      Schedule to
      social media.
    </h1>
  </div>

  <div class="schedule_posts__img_div">
    <img
      class="schedule_posts__img"
      src="assets/images/illustration-schedule-posts.webp"
      alt="schedule posts illustration image"
    />
  </div>

  <div class="schedule_posts__subtext">
    <h1 class="schedule_posts__subtext_title">
      Optimize post timings 
      to publish content at 
      the perfect time for
      your audience.
    </h1>
  </div>
</div>
