<div class="social_media">
  <div class="social_media__text">
    <h1 class="social_media__text_title">
      Social Media
      <span class="social_media__speed">10x</span>
      <em> Faster</em> with AI
    </h1>
  </div>

  <div class="social_media__stars_review">
    <div class="social_media__img_div">
      <img
        class="social_media__img"
        src="assets/images/illustration-five-stars.webp"
        alt="create post illustration image"
      />
    </div>

    <p class="social_media__img_label">Over 4,000 5-star reviews</p>
  </div>
</div>
