<main class="container">
  <div class="container__column_left">
    <div class="feature_1">
      <div class="feature_1__text">
        <p class="feature_1__text_title">
          Create and <br />
          schedule <br />
          content
        </p>
        <em class="feature_1__text_highlight">quicker.</em>
      </div>

      <div class="feature_1__img_div">
        <img
          class="feature_1__img"
          src="assets/images/illustration-create-post.webp"
          alt="create post illustration image"
        />
      </div>
    </div>

    <div class="feature_2">
      <div class="feature_2__text">
        <p class="feature_2__text_title">
          Write your <br />
          content <br />
          using AI.
        </p>
      </div>

      <div class="feature_2__img_div">
        <img
          class="feature_2__img"
          src="assets/images/illustration-ai-content.webp"
          alt="create post illustration image"
        />
      </div>
    </div>
  </div>

  <div class="feature_3">
    <div class="feature_3__text">
      <h1 class="feature_3__text_title">
        Social Media <span class="feature_3__speed">10x</span> <br />
        <em>Faster</em> with AI
      </h1>
    </div>

    <div class="feature_3__stars_review">
      <div class="feature_3__img_div">
        <img
          class="feature_3__img"
          src="assets/images/illustration-five-stars.webp"
          alt="create post illustration image"
        />
      </div>

      <p class="feature_3__img_label">Over 4,000 5-star reviews</p>
    </div>
  </div>

  <div class="feature_4">
    <div class="feature_4__img_div">
      <img
        class="feature_4__img"
        src="assets/images/illustration-multiple-platforms.webp"
        alt="create post illustration image"
      />
    </div>

    <div class="feature_4__text">
      <p class="feature_4__text_title">
        Manage <br />
        multiple <br />
        accounts and <br />
        platforms.
      </p>
    </div>
  </div>

  <div class="feature_5">
    <div class="feature_5__text">
      <p class="feature_5__text_title">
        Maintain a <br />
        consistent <br />
        posting <br />
        schedule.
      </p>
    </div>

    <div class="feature_5__img_div">
      <img
        class="feature_5__img"
        src="assets/images/illustration-consistent-schedule.webp"
        alt="create post illustration image"
      />
    </div>
  </div>

  <div class="feature_6">
    <div class="feature_6__text">
      <h1 class="feature_6__text_title">>56%</h1>
      <p class="feature_6__text_p">faster audience growth</p>
    </div>

    <div class="feature_6__img_div">
      <img
        class="feature_6__img"
        src="assets/images/illustration-audience-growth.webp"
        alt="create post illustration image"
      />
    </div>
  </div>

  <div class="feature_7">
    <div class="feature_7__img_div">
      <img
        class="feature_7__img"
        src="assets/images/illustration-grow-followers.webp"
        alt="create post illustration image"
      />
    </div>

    <div class="feature_7__text">
      <h1 class="feature_7__text_title">
        Grow followers <br />
        with non-stop <br />
        content.
      </h1>
    </div>
  </div>

  <div class="feature_8">
    <div class="feature_8__text">
      <h1 class="feature_8__text_title">
        Schedule to <br />
        social media.
      </h1>
    </div>

    <div class="feature_8__img_div">
      <img
        class="feature_8__img"
        src="assets/images/illustration-schedule-posts.webp"
        alt="schedule posts illustration image"
      />
    </div>

    <div class="feature_8__subtext">
      <h1 class="feature_8__subtext_title">
        Optimize post timings <br />
        to publish content at <br />
        the perfect time for <br />
        your audience.
      </h1>
    </div>
  </div>
</main>
