@import "variables.scss";

.container {
  position: relative;
  width: 80vw;
  min-height: 1000px;
  display: grid;
  grid-template-columns: 0.6fr repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  overflow: hidden;
  font-size: 16px;
}

.container > div {
  border-radius: 5px;
}

.feature_1 {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 50px 0px;
  z-index: 10;
  height: 130%;
  background-color: $yellow_100;
}

.feature_1__text {
  line-height: 2em;
}

.feature_1__text_title {
  font-size: 2em;
  font-weight: 500;
}

.feature_1__text_highlight {
  font-size: 2em;
  color: $purple_500;
  font-weight: 500;
}

.feature_1__img_div {
  width: 70%;
  text-align: center;
}

.feature_1__img {
  width: 100%;
  object-fit: cover;
}

.feature_2 {
  grid-column: 1;
  grid-row: 2 / span 3;
  z-index: 9;
  background-color: $yellow_500;
  margin-top: 50%;
}

.feature_2__text {
  line-height: 2em;
}

.feature_2__text_title {
  font-size: 2em;
  font-weight: 500;
}

.feature_2__text_highlight {
  font-size: 2em;
  color: $purple_500;
  font-weight: 500;
}

.feature_2__img_div {
  width: 80%;
  text-align: center;
}

.feature_2__img {
  width: 100%;
  object-fit: cover;
}

.image_3 {
  grid-column: 2 / span 2;
  grid-row: 1;
  background-color: blue;
}

.image_4 {
  grid-column: 2;
  grid-row: 2;
  background-color: yellow;
}

.image_5 {
  grid-column: 3;
  grid-row: 2;
  background-color: green;
}

.image_6 {
  grid-column: 2;
  grid-row: 3;
  background-color: gray;
}

.image_7 {
  grid-column: 3 / span 4;
  grid-row: 3;
  background-color: brown;
}

.image_8 {
  grid-column: 4;
  grid-row: 1 / span 2;
  background-color: brown;
}
