<main class="container">
  <div class="feature_1">
    <div class="feature_1__text">
      <p class="feature_1__text_title">
        Create and <br />
        schedule <br />
        content
      </p>
      <em class="feature_1__text_highlight">quicker.</em>
    </div>

    <div class="feature_1__img_div">
      <img
        class="feature_1__img"
        src="assets/images/illustration-create-post.webp"
        alt="create post illustration image"
      />
    </div>
  </div>

  <div class="feature_2">
    <div class="feature_2__text">
      <p class="feature_2__text_title">
        Write your <br />
        content <br />
        using AI.
      </p>
    </div>

    <div class="feature_2__img_div">
      <img
        class="feature_2__img"
        src="assets/images/illustration-ai-content.webp"
        alt="create post illustration image"
      />
    </div>
  </div>

  <div class="image_3">
    <img src="" alt="" />
  </div>

  <div class="image_4">
    <img src="" alt="" />
  </div>

  <div class="image_5">
    <img src="" alt="" />
  </div>

  <div class="image_6">
    <img src="" alt="" />
  </div>

  <div class="image_7">
    <img src="" alt="" />
  </div>

  <div class="image_8">
    <img src="" alt="" />
  </div>
</main>
