<main class="container">
  <div class="container__column_left">
    <div class="create_post">
      <div class="create_post__text">
        <p class="create_post__text_title">
          Create and <br />
          schedule <br />
          content
        </p>
        <em class="create_post__text_highlight">quicker.</em>
      </div>

      <div class="create_post__img_div">
        <img
          class="create_post__img"
          src="assets/images/illustration-create-post.webp"
          alt="create post illustration image"
        />
      </div>
    </div>

    <div class="ai_content">
      <div class="ai_content__text">
        <p class="ai_content__text_title">
          Write your <br />
          content <br />
          using AI.
        </p>
      </div>

      <div class="ai_content__img_div">
        <img
          class="ai_content__img"
          src="assets/images/illustration-ai-content.webp"
          alt="create post illustration image"
        />
      </div>
    </div>
  </div>

  <div class="social_media">
    <div class="social_media__text">
      <h1 class="social_media__text_title">
        Social Media <span class="social_media__speed">10x</span> <br />
        <em>Faster</em> with AI
      </h1>
    </div>

    <div class="social_media__stars_review">
      <div class="social_media__img_div">
        <img
          class="social_media__img"
          src="assets/images/illustration-five-stars.webp"
          alt="create post illustration image"
        />
      </div>

      <p class="social_media__img_label">Over 4,000 5-star reviews</p>
    </div>
  </div>

  <div class="multiple_platforms">
    <div class="multiple_platforms__img_div">
      <img
        class="multiple_platforms__img"
        src="assets/images/illustration-multiple-platforms.webp"
        alt="create post illustration image"
      />
    </div>

    <div class="multiple_platforms__text">
      <p class="multiple_platforms__text_title">
        Manage <br />
        multiple <br />
        accounts and <br />
        platforms.
      </p>
    </div>
  </div>

  <div class="consistent_schedule">
    <div class="consistent_schedule__text">
      <p class="consistent_schedule__text_title">
        Maintain a <br />
        consistent <br />
        posting <br />
        schedule.
      </p>
    </div>

    <div class="consistent_schedule__img_div">
      <img
        class="consistent_schedule__img"
        src="assets/images/illustration-consistent-schedule.webp"
        alt="create post illustration image"
      />
    </div>
  </div>

  <div class="audience_growth">
    <div class="audience_growth__text">
      <h1 class="audience_growth__text_title">>56%</h1>
      <p class="audience_growth__text_p">faster audience growth</p>
    </div>

    <div class="audience_growth__img_div">
      <img
        class="audience_growth__img"
        src="assets/images/illustration-audience-growth.webp"
        alt="create post illustration image"
      />
    </div>
  </div>

  <div class="grow_followers">
    <div class="grow_followers__img_div">
      <img
        class="grow_followers__img"
        src="assets/images/illustration-grow-followers.webp"
        alt="create post illustration image"
      />
    </div>

    <div class="grow_followers__text">
      <h1 class="grow_followers__text_title">
        Grow followers <br />
        with non-stop <br />
        content.
      </h1>
    </div>
  </div>

  <div class="schedule_posts">
    <div class="schedule_posts__text">
      <h1 class="schedule_posts__text_title">
        Schedule to <br />
        social media.
      </h1>
    </div>

    <div class="schedule_posts__img_div">
      <img
        class="schedule_posts__img"
        src="assets/images/illustration-schedule-posts.webp"
        alt="schedule posts illustration image"
      />
    </div>

    <div class="schedule_posts__subtext">
      <h1 class="schedule_posts__subtext_title">
        Optimize post timings <br />
        to publish content at <br />
        the perfect time for <br />
        your audience.
      </h1>
    </div>
  </div>
</main>
