@import "variables.scss";

@media screen and (max-width: $mobile_max) {
  .container {
    position: relative;
    display: grid;
    grid-template-columns: minmax(300px, 700px);
    grid-template-rows: repeat(7, auto);
    grid-gap: 15px;
    font-size: 12px;
  }

  .container__column_left {
    grid-row: 7;
    display: grid;
    grid-gap: inherit;
    grid-template-rows: 200px 300px;
  }

  app-social-media {
    height: 250px;
    grid-row: 1; // interactions child <-> parent are cut down because of angular encapsulation of components.
  }

  app-multiple-platforms {
    height: 160px;
    grid-row: 2;
    overflow: hidden;
  }

  app-consistent-schedule {
    height: 205px;
    grid-row: 3;
  }

  app-schedule-posts {
    height: 400px;
    grid-row: 4;
  }

  app-grow-followers {
    height: 300px;
    grid-row: 5;
  }

  app-audience-growth {
    height: 200px;
    grid-row: 6;
  }
}

@media screen and (min-width: $tablet_max) {
  .container {
    position: relative;
    display: grid;
    height: 730px;
    width: 1000px;
    grid-template-columns: 0.8fr repeat(2, 1fr) 0.8fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
    overflow: hidden;
    font-size: 14px;
  }

  .container__column_left {
    grid-row: 1 / span 3;
    display: grid;
    grid-gap: inherit;
    grid-template-rows: repeat(2, 1fr);
  }

  app-social-media {
    grid-column: 2 / span 2; // interactions child <-> parent are cut down because of angular encapsulation of components.
  }

  app-multiple-platforms {
    grid-column: 2;
    overflow: hidden;
  }

  app-consistent-schedule {
    overflow: hidden;
  }

  app-audience-growth {
    grid-column: 2;
  }

  app-grow-followers {
    grid-column: 3 / span 2;
  }

  app-schedule-posts {
    grid-column: 4;
    grid-row: 1 / span 2;
  }
}
