@import "variables.scss";

.container {
  position: relative;
  display: grid;
  height: 730px;
  width: 1000px;
  grid-template-columns: 0.8fr repeat(2, 1fr) 0.8fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
  overflow: hidden;
  font-size: 16px;
}

.container__column_left {
  grid-row: 1 / span 3;
  display: grid;
  grid-gap: inherit;
  grid-template-rows: repeat(2, 1fr);
}

.container,
.container__column_lef {
  div {
    border-radius: 5px;
  }
}

.feature_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 50px 0px;
  background-color: $yellow_100;
}

.feature_1__text {
  line-height: 2em;
}

.feature_1__text_title {
  font-size: 2em;
  font-weight: 500;
}

.feature_1__text_highlight {
  font-size: 2em;
  color: $purple_500;
  font-weight: 500;
}

.feature_1__img_div {
  width: 70%;
  text-align: center;
}

.feature_1__img {
  width: 100%;
  object-fit: cover;
}

.feature_2 {
  background-color: $yellow_500;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
}

.feature_2__text {
  line-height: 2em;
}

.feature_2__text_title {
  font-size: 2em;
  font-weight: 500;
}

.feature_2__text_highlight {
  font-size: 2em;
  color: $purple_500;
  font-weight: 500;
}

.feature_2__img_div {
  width: 100%;
  text-align: center;
}

.feature_2__img {
  width: 100%;
  object-fit: cover;
}

.feature_3 {
  grid-column: 2 / span 2;
  background-color: #7651dc;
  color: #fff;
  padding: 30px;
}

.feature_3__text {
  width: 100%;
  text-align: center;
  padding-bottom: 15px;
}

.feature_3__text_title {
  font-size: 3em;
}

.feature_3__speed {
  color: $yellow_500;
}

.feature_3__stars_review {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature_3__img_div {
  width: 40%;
}

.feature_3__img {
  width: 100%;
  object-fit: cover;
}

.feature_4 {
  grid-column: 2;
  background-color: $white;
  padding: 20px;
  overflow: hidden;
}

.feature_4__img_div {
  width: 100%;
  height: 30%;
  margin-bottom: 20px;
}

.feature_4__img {
  height: 100%;
  object-fit: cover;
}

.feature_4__text {
  width: 100%;
  line-height: 1.4em;
}

.feature_4__text_title {
  font-size: 1.6em;
  font-weight: 500;
}

.feature_5 {
  background-color: $yellow_500;
  padding: 20px;
  padding-bottom: 0;
  overflow: hidden;
}

.feature_5__text {
  width: 100%;
  line-height: 1.4em;
  margin-bottom: 20px;
}

.feature_5__text_title {
  font-size: 1.6em;
  font-weight: 500;
}

.feature_5__img_div {
  text-align: center;
  background-color: $white;
  width: 100%;
}

.feature_5__img {
  width: 100%;
  object-fit: cover;
}

.feature_6 {
  background-color: $white;
  padding: 20px;
  grid-column: 2;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.feature_6__text {
  width: 100%;
  line-height: 3em;
  margin-bottom: 20px;
}

.feature_6__text_title {
  font-size: 3em;
  font-weight: 500;
}

.feature_6__img_div {
  text-align: center;
  background-color: $white;
  width: 80%;
}

.feature_6__img {
  width: 100%;
  object-fit: cover;
}

.feature_7 {
  background-color: $purple_500;
  grid-column: 3 / span 2;
  overflow: hidden;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.feature_7__text {
  width: 50%;
  line-height: 2em;
  margin-bottom: 20px;
  color: #fff;
}

.feature_7__text_title {
  font-size: 2em;
  font-weight: 500;
}

.feature_7__img_div {
  text-align: center;
  background-color: $white;
  width: 40%;
}

.feature_7__img {
  width: 100%;
  object-fit: cover;
}

.feature_8 {
  grid-column: 4;
  grid-row: 1 / span 2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  background-color: $purple_100;
}

.feature_8__text {
  width: 100%;
  line-height: 2em;
  margin-bottom: 20px;
}

.feature_8__text_title {
  font-size: 1.7em;
  font-weight: 500;
}

.feature_8__img_div {
  text-align: center;
  width: 160%;
}

.feature_8__img {
  width: 100%;
  object-fit: cover;
}

.feature_8__subtext {
  width: 100%;
  line-height: 1em;
  margin-bottom: 20px;
}

.feature_8__subtext_title {
  font-size: 1em;
  font-weight: 500;
}
