$font_family: "DM Sans", serif;

$mobile_max: "480px";
$tablet_max: "1050px";
$laptop_max: "1440px";

// Primary Colors

$purple_100: hsl(254, 88%, 90%);
$purple_500: hsl(256, 67%, 59%);
$yellow_100: hsl(31, 66%, 93%);
$yellow_500: hsl(39, 100%, 71%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 7%);
